{{> header}}
<h1>Your account has been deleted</h1>
<p>Hi {{name}}, this is a confirmation that your Team Workspace account associated with this email address has been permanently deleted.</p>
<p>All your personal data has been removed from our systems in accordance with our privacy policy.</p>
<hr>
<p class="small">If you change your mind, you're always welcome to <a href="{{appUrl}}/auth/register">create a new account</a>.</p>
<p class="small">If you did <strong>not</strong> request account deletion, please <a href="{{supportUrl}}">contact support immediately</a>.</p>
{{> footer}}
