  </td></tr>
  <tr><td class="email-footer">
    <p class="muted" style="text-align:center;">
      &copy; {{year}} Team Workspace &nbsp;&middot;&nbsp;
      <a href="{{supportUrl}}" style="color:#6b7280;">Support</a> &nbsp;&middot;&nbsp;
      <a href="{{appUrl}}/settings" style="color:#6b7280;">Email Preferences</a>
    </p>
  </td></tr>
</table>
</div>
</body>
</html>
